# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [39]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [40]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv", sep = ",")
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [41]:
drinks = drinks.dropna()
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [83]:
#drinks_beer = drinks.groupby("continent")[["beer_servings"]].mean().idxmax()
drinks_beer = drinks.groupby("continent")[["beer_servings"]].mean()
print("continent which drinks more beer on average is: ", drinks_beer)
drinks_beer.info()

continent which drinks more beer on average is:             beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, AF to SA
Data columns (total 1 columns):
beer_servings    5 non-null float64
dtypes: float64(1)
memory usage: 80.0+ bytes

In [93]:
drinks_beer.head()

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

In [116]:
c =   drinks_beer.index[2]
print("The country is : ", c )

The country is :  EU

In [118]:
b = drinks_beer.idxmax()
print("The country is : ", b )

The country is :  beer_servings    EU
dtype: object

In [113]:
drinks_beer.sort_index(by = "continent", ascending = Fal).head(1)

NameError: name 'Fal' is not defined

In [91]:
drinks_beer.columns
drinks_beer.set_index('beer_servings')
drinks_beer.sort_index(by)a

<bound method DataFrame.sort_index of            beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333>

### Step 5. For each continent print the statistics for wine consumption.

In [60]:
drinks_stats = drinks.groupby("continent")
drinks_stats.wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [67]:
drinks_alcohol = drinks.groupby("continent")
drinks_alcohol.total_litres_of_pure_alcohol.mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [71]:
drinks_alco_median = drinks.groupby(drinks.continent).total_litres_of_pure_alcohol.median()
print(drinks_alco_median)

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [80]:
drinks_sprit = drinks.groupby(drinks.continent).mean()
drinks_sprit.beer_servings.values[1]

37.04545454545455